/* Init style all sidebar */
.wrapper {
  background-color: #fff;
  display: grid;
  margin: 0% 0% 0% 0%;
  grid-template-columns: 150px 650px 1fr; /*repeat(2, 1fr);*/ /*repeat(3, 1fr);*/
  grid-template-rows: 1fr;
  height: 100%;
  grid-gap: 1em;
}
.grid-sidebar__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  /* margin: 5% 1%; */ /* primero arriba y abajo segundo izquierda y derecha*/
}

.grid-sidebar {
  background-color: #343951;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.grid-data {
  background-color: #f5f6fc;
}

.grid-resumenData {
  background-color: #f5f6fc;
}

@media (min-width: 1000px) {
  .grid-sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .grid-data {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
  }
  .grid-resumenData {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

a {
  margin-left: 1%;
  margin-top: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #858a9d;
  text-decoration: none;
  align-self: center;
}

.grid-sidebar__items:hover > a {
  color: #ffffff;
}

.btn-createNew {
  padding: 5%;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 270px;
  background-color: #ff9f00;
  justify-content: flex-end;
}

.btnNew-toolpit {
  position: relative;
  display: inline-block;
}

.btnNew-toolpit .btnNew-toolpit__tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: slategray;
  color: #fff;
  text-align: center;

  justify-content: space-around;

  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.btnNew-toolpit .btnNew-toolpit__tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: slategray transparent transparent transparent;
}

.btnNew-toolpit:hover .btnNew-toolpit__tooltiptext {
  visibility: visible;
}
.toolpit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #858a9d;
  color: white;
}
.btnNew-toolpit__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 2%; /* primero arriba y abajo segundo izquierda y derecha*/
}

.menu-sidebar__btnPlus {
  background-color: #ffb233;
  margin-left: 6px;
  border-radius: 4px;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.menu-items {
  margin-top: 15%;
}
/* rectangulos colores */
.rectangle,
.grid-sidebar__rectangle {
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-right: 10%;
}

.menu-sidebar__rectangleColor {
  width: 74px;
  height: 21px;
  align-items: flex-start;
  margin-bottom: 15%;
  margin-top: 11%;
}
.menu-sidebar__rectangleColor {
  background: linear-gradient(270deg, #689ef8 0%, #ff6860 56.25%, #ff9f00 100%);
  border-radius: 5px;
}

.grid-sidebar__line {
  border: 1px solid #464c61;
  margin: 10% 0%;
  width: 98%;
}
