/* Init style all Recently */
.rectangleRecently {
  width: 24px;
  height: 24px;
  margin-left: 0.89285%;
  background-color: #c8ccdb;
  align-self: flex-end;
  border-radius: 4px;
}

.icon-search {
  color: #858a9d;
}

.oneRectangle {
  width: var(--height40);
  height: var(--height40);
  opacity: 0.4;
  background-color: #ff9f00;
  box-sizing: border-box;
}
.twoRectangle {
  width: var(--height40);
  height: var(--height40);
  background-color: #ff9f00;
  box-sizing: border-box;
}

.yellow-rectangle {
  width: 21px;
  height: 21px;
  background-color: #ff9f00;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
  align-self: center;
}
.green-rectangle {
  width: 21px;
  height: 21px;
  background-color: #4ac29d;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
  align-self: center;
}
.pink-rectangle {
  width: 21px;
  height: 21px;
  background-color: #ff6860;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
  align-self: center;
}

.rectangleGrey {
  width: 15px;
  height: 15px;
  border: 1px solid #2a2828;
  box-sizing: border-box;
  margin-right: 10%;
  width: 20%;
}
.grid-data {
  padding-top: 3.90625vh;
  padding-bottom: 3.90625vh;
  padding-left: 2.7901vw;
  padding-right: 2.7901vw;
}

.search-input {
  width: 90%;
  border: none;
  color: #a6aabb;
  font-size: var(--height16);
  margin-left: 1.111vw;
}

.circle-search {
  position: absolute;
  width: 1.538vh; /* 15.75px; */
  height: 1.538vh; /* 15.75px; */
  z-index: 10;
  background-color: #ffffff;
  border: 2px solid #858a9d;
  border-radius: 10px;
}

.palito-search {
  margin-top: 1.953vh;
  margin-left: 1.953vh;
  width: 0px;
  border-radius: 2px;
  height: 4.56px;
  z-index: 9;
  background-color: #858a9d;
  border: 1px solid #858a9d;
  transform: rotate(-45deg);
}

.search {
  height: 2.34375vh; /* 4.6875vh; */
  padding: 1.171vh 1.0625vw;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #c8ccdb;
  margin-bottom: 4.6875vh;
}
.search__i {
  background-color: white;
  color: gray;
}
.recently_i {
  size: 9em;
}

.recentlyU {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recently-rectangle__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60px;
}

.shared-grid {
  display: grid;
  align-items: flex-start;
  justify-items: flex-start;
  grid-template-columns: 10.4631vw 3.0223vw; /* 10.4631vw 5.0223vw; */
  grid-template-rows: 4.296vh 4.296vh;
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 2.34375vh;
  padding-bottom: 2.34375vh;
  padding-left: 1.6737vw;
  padding-right: 1.6737vw;
  box-shadow: 0px 4px 16px rgba(200, 204, 219, 0.5);
}

.project-grid {
  width: 17.85vw;
  height: 10.9375vh; /* 15.625vh; */
  display: grid;
  grid-template-columns: 72px 72px 1fr;
  grid-template-rows: 5.468vh 5.468vh;
  grid-gap: 1.562vh; /* 16px; */
  background-color: #ffffff;
  padding-top: 2.34375vh; /* 24px */
  padding-bottom: 3.34375vh;
  padding-left: 1.6741vw;
  padding-right: 1.6741vw;
  margin-bottom: 5.468vh;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(200, 204, 219, 0.5);
}

.grid-icons {
  display: flex;
  flex-direction: row;
}
.recentlyFiles-div,
.shareFiles-div {
  font-family: "Roboto", sans-serif;
  color: #858a9d;
  font-size: 1.562vh;
}
/*amarillo fuerte*/
.Rectangle-1 {
  z-index: 2;
  border-radius: 4px;
}

.Rectangle-2 {
  /*el amarillo poco fuerte fuerte */
  z-index: 1;
  border-radius: 4px;
  margin-top: 0.781vh; /* 10px; */
  margin-left: -0.6751vw;
}

.ellipse {
  width: 1.67vw;
  height: 24px; /* var(--height24); */
  border-radius: 20px;
  background: #c8ccdb;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.ellipse-pto {
  width: 3px;
  height: 3px;
  align-self: start;
  justify-self: end;
  border-radius: 1px;
  background: #858a9d;
  box-sizing: border-box;
}
.Ellipse-1 {
  margin-left: -34px;
  z-index: 3;
}
.Ellipse-2 {
  margin-left: -17px;
  z-index: 4;
}
.Ellipse-3 {
  margin: 0px 0px 0px 0px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.Ellipse-1__End {
  margin-right: 34px;
  z-index: 3;
}
.Ellipse-2__End {
  margin-right: 17px;
  z-index: 4;
}
.Ellipse-3__End {
  z-index: 5;
}

.ellipse__number {
  font-size: 10px;
  color: #ffffff;
  background-color: #858a9d;
}
.Ellipse-pto1 {
  margin: 0px 0px 0px 0px;
}
.Ellipse-pto2 {
  margin: 6px 0px 6px 0px;
}
.Ellipse-pto3 {
  margin: 12px 0px 12px 0px;
}
.name-project {
  /* margin-top: 10px; */
  height: 24px;
  font-size: var(--height16);
  line-height: 14px;
  font-weight: 500;
  color: #343951;
}
.name-page {
  font-size: var(--height16);
  color: #343951;
  line-height: var(--height24);
  font-style: normal;
  font-weight: normal;
}
.info-project {
  letter-spacing: 0.05em;
  font-weight: normal;
  height: var(--height16);
  line-height: var(--height16);
  display: flex;
  flex-direction: row;
  font-size: /* 10px  */ var(--height10);
  margin-top: var(--height8);
}
.date-project,
.date-recently {
  color: #343951;
}
.blockPart1,
.shareFiles-blocks {
  display: flex;
  justify-content: space-between;
}

.recentlyFiles-header {
  display: flex;
  align-items: center;
  background-color: #f5f6fc;
  font-size: 10px;
}
.view-all__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f6fc;
}
.shareFiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f6fc;
}

.recentlyFiles-row {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin-top: 1.56vh; /* 2%; */
  padding-left: 1.11vw;
  padding-right: 1.11vw;
  padding-top: 1.171vh;
}

.recentlyFiles-header {
  font-size: 10px;
  margin-left: 3.906vw;
}

.recentFiles__items {
  color: #858a9d;
}

.ptos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color__ellipseGreen {
  border: 1px solid #4ac29d;
}

.color__ellipsePink {
  border: 1px solid #ff6860;
}
.color__ellipseYellow {
  border: 1px solid #ff9f00;
}

.col-1-1 {
  display: flex;
  flex-direction: row;
}

@media (max-height: 1090px) {
  .Rectangle-2 {
    margin-bottom: -0.781vh;
    /* margin-bottom: -0.9vh; */ /*  -1.46vh; */
    /* -0.781vh; */
  }
}

@media (min-width: 500px) {
  .col-1-1-head {
    flex: 0 0 35.64vw;
  }
  .col-1-1 {
    flex: 0 0 37.388vw; /* 36.272vw; */
  }
  .col-1-2 {
    flex: 0 0 7.531vw; /* 6.69625vw; */
  }
  .col-1-3 {
    flex: 0 0 7.531vw; /* 6.6964vw; */
  }
  .col-1-4 {
    flex: 0 0 1fr;
    flex-direction: column;
  }
  .col-1-2-head {
    flex: 0 0 8.631vw;
  }

  .Rectangle-1,
  .Rectangle-2,
  .Rectangle-1__sharedGrid {
    grid-column: 1 / 2;
    grid-row: 1/2;
  }
  .Ellipse-1,
  .Ellipse-2,
  .Ellipse-3 {
    justify-self: start;
    grid-column: 2 / 3;
    grid-row: 1/2;
  }

  .Ellipse-1__End,
  .Ellipse-2__End,
  .Ellipse-3__End {
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 1/2;
  }

  .Ellipse-pto1,
  .Ellipse-pto2,
  .Ellipse-pto3 {
    grid-column: 3 / 4;
    grid-row: 1/2;
  }

  .description-project {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .info {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .info-project {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .col1-fil1,
  .col1-fil2,
  .col1-fil3 {
    flex: 0 0 23%;
  }
}

.recentFiles-margin__itemsName {
  margin-right: 1.111vw;
}
.recentFiles-margin__items {
  margin-left: 1.111vw;
  font-size: 1.5625vh;
}

.recentFiles-width__itemHEAD {
  height: 2.343vh;
}

.recentFiles-name__div {
  color: #343951;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5625vh; /* 16px; */
  height: 2.343vh;
}
.recentlyUsed-created_name,
.sharedwithme-created_name {
  color: #858a9d;
  margin-right: 10px;
  letter-spacing: 0.05em;
}
.recentfiles {
  margin-bottom: var(--height56); /* 3.90625vh; */
}
