/* style all Storage*/
.grey-rectangle {
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  box-sizing: border-box;
  align-self: flex-end;
}

.grey-circle {
  width: 31px;
  height: 31px;
  background-color: #c4c4c4;
  box-sizing: border-box;
  align-self: flex-end;
  border-radius: 31px;
}

.storage__line {
  display: flex;
  justify-content: flex-start;
}

.resumenData-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-conic-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-circle {
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.grey-rectangles__row,
.info-user__div {
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.info-user__setting {
  font-size: 12px;
  line-height: 14px;
  color: #343951;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
}

.storage__line {
  border: 1px solid #e0e7f1;
  margin: 5% 0%;
  width: 98%;
}

.storage_setting {
  margin-left: 10%;
  margin-bottom: 0%;
}

.color-ellipse_big__Green {
  border: 1px solid #4ac29d;
  width: 115px;
  height: 115px;
}

.color-ellipse_big__Pink {
  border: 1px solid #ff6860;
  width: 18px;
  height: 18px;
}
.color-ellipse_big__Yellow {
  border: 1px solid #ff9f00;
  width: 18px;
  height: 18px;
}

.big-icon-rectangle {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 5px;
  align-self: flex-start;
}
.color-yellow {
  background: #ff9f00;
}
.color-blue {
  background: #689ff8;
}
.color-green {
  background: #4ac29d;
}
.color-grey {
  background: #bcbeca;
}

.ellipse_big {
  justify-self: start;

  border-radius: 115px;
  /* border-style: solid solid solid solid; */
  box-sizing: border-box;
  /* border-width: 5px 5px 5px 5px; */
  border-bottom: 5px solid red;
}

.percentage-storage {
  font-size: 24px;
}

.tag-percentage-storage {
  font-size: 14px;
  line-height: 16px;
  color: #858a9d;
}
.white-circle__settingText {
  display: flex;
  flex-direction: column;
}

.setting-litle__letter {
  font-size: 8px;
  line-height: 9px;
  color: #858a9d;
}
.Data-circle__review {
  margin-top: 2%;
  align-items: center;
}

.grid-documents {
  font-size: 14px;
  display: grid;
  grid-template-columns: 28px 80px 28px;
  grid-template-rows: 15px 25px;
  justify-content: center;
  justify-items: center;
}

.grid-documents__data1 {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  padding: 2%;
  background-color: #ffffff;
  align-self: center;
}
.documents-row {
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
}

.grid-documents__data1 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.setting-text {
  margin-bottom: 2%;
  color: #343951;
}

.central-store-upgrade {
  display: flex;
  justify-content: center;
}
.box-upgrade {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 5px;
}

.storage-upgrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgrade-buy {
  color: #343951;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4%;
}

.storage_rectangle {
  width: 130px;
  height: 70px;
  align-items: flex-start;
  margin-bottom: 10%;
}

.btn-upgradeAccount {
  background-color: #ff9f00;
  border-radius: 5px;
  color: #ffffff;
  font-size: 10px;
  padding: 7%;
}
.rectangle-documents__1 {
  grid-column: 1 / 2;
  grid-row: 1/3;
}
.conic_gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: conic-gradient(
    #4ac29d 0,
    #4ac29d 45deg,
    #ff9f00 45deg,
    #ff9f00 190deg,
    #c4c4c4 190deg,
    #c4c4c4 260deg,
    #689ff8 260deg,
    #689ff8 360deg
  );
}
.documents1 {
  color: #343951;
  grid-column: 2 / 3;
  grid-row: 1/2;
}
.stograge {
  margin-bottom: 2%;
}
.files1 {
  color: #858a9d;
  grid-column: 2 / 3;
  grid-row: 2/3;
}
.grid-documents__data1 {
  color: #343951;
  grid-column: 4 / 5;
  grid-row: 1/3;
}
